body {
  padding-left: 15px;
padding-right: 15px;
}

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.swiper-button-prev {
 color: white;
}

:root {
  --swiper-theme-color:white !important;
}

.swiper-button-next {
 color: white;
} 
.swiper-button-next:after, .swiper-button-prev:after {
  content: ""!important;
}

.say-hello {
  background-image: url("../images/woman-swimming.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.image-collage {
  margin-top: -3rem;
}

.footer a {
  text-decoration: none;
  color: #b3a9a9;
}

.footer a:hover {
  text-decoration: underline;
  color: white;
}

.bg-deep-blue {
  background-color: #0a205c;
  color: white;
}

.btn-property {
  background-color: #0a205c;

  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1mm;
  border: transparent;
}

.btn-property-white {
  background-color: #fff;
  color: #0a205c;
  padding: 0.5rem 1rem;

  border: #0a205c 2px solid;
}

.bg-creme {
  background-color: #f9f6ee;
}

.book-your-stay img {
  height: 1em;
}

.hide {
  display: none;
}

.bg-color-rating {
  background-color: rgb(8, 90, 28);
  padding: 0.4em;
}